GAS_API_KEY = wiki.westwoodrobots.org
GAS_API_URL = https://script.google.com/macros/s/project-id/exec

GOOGLE_CLIENT_ID= client-id-here
GOOGLE_CLIENT_SECRET= client-secret-here
AUTH_SECRET = <openssl rand -hex 32>

SLING_EDITORS = user1@example.com,user2@example.com
HUNGA_EDITORS = reacharnavsaraf@gmail.com
ATL_EDITORS = user3@example.com,user4@example.com
KUNAI_EDITORS = user5@example.com,user6@example.com
ADMINS = reacharnavsaraf@gmail.com, westwood_robotics@roundrockisd.org